.back-ground {
    background-color: var(--background);
    color: var(--foreground);
}

.box {
    justify-content: space-between;
    padding: 2px;
}

.main {
    margin-left: 10px;
}

.side {
    background-color: var(--color-state-blue);
    border: solid 1px ;
    border-color: var(--background);
    border-radius: 10px;
    width: 37%;
    margin-left: 2px;
    padding: 5px;
    overflow:scroll;
    height: 620px;
}

.side::-webkit-scrollbar {
    display: none;
}
